<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Vruthi Portal</h5>
        <p>Connecting talented professionals with great opportunities.</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/jobs">Jobs</a></li>
          <li><a routerLink="/profile">Profile</a></li>
          <li><a routerLink="/companies">Companies</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact</h5>
        <ul class="list-unstyled">
          <li><i class="fas fa-envelope"></i> support&#64;vruthiportal.com</li>
          <li><i class="fas fa-phone"></i> +91 9876543210</li>
          <li><i class="fas fa-map-marker-alt"></i> Hyderabad, India</li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row footer-bottom">
      <div class="col-md-6">
        <p class="copyright">&copy; {{ currentYear }} Vruthi Portal. All rights reserved.</p>
      </div>
      <div class="col-md-6 text-end">
        <p class="powered-by-text">Powered by <span class="powered-by">Twinkle Roy</span></p>
      </div>
    </div>
  </div>
</footer> 